In [1]:
import pandas as pd

In [2]:
s= pd.Series([9904312, 3448737, 2890451, 2466052],
            index=["서울","부산","인천","대구"]
            )
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [4]:
s.ndim #몇 차원 배열이냐? 의 답변인것.

1

In [6]:
s.shape

(4,)

In [7]:
pd.Series(range(10,14))

0    10
1    11
2    12
3    13
dtype: int64

In [8]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [9]:
type(s.index)

pandas.core.indexes.base.Index

In [11]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [13]:
type(s.values)

numpy.ndarray

In [15]:
s.name="인구"
s.index.name="도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [16]:
s/1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [17]:
s["부산"]

3448737

In [18]:
s[[0,3,1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [19]:
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [21]:
s["부산":"대구"]

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [24]:
s0 = pd.Series(range(3), index=["a","b","c"])
s0

a    0
b    1
c    2
dtype: int64

In [25]:
s0.a

0

In [27]:
s0.c

2

In [29]:
for a in s.items():
    print(a)

('서울', 9904312)
('부산', 3448737)
('인천', 2890451)
('대구', 2466052)

In [31]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}   # 딕셔너리
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"] # LIST
index = ["서울", "부산", "인천", "대구"] # LIST

In [32]:
df = pd.DataFrame(data, index=index, columns=columns)
print(df)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [34]:
df["2005-2010 증가율"] = ((df["2010"] - df["2005"]))
df

     지역     2015     2010     2005     2000  2010-2015 증가율  2005-2010 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283        -131064
부산  경상권  3448737  3393191  3512547  3655437         0.0163        -119356
인천  수도권  2890451  2632035  2517680  2466338         0.0982         114355
대구  경상권  2466052  2431774  2456016  2473990         0.0141         -24242